<div class="container">
    <h3 class="pb-3 mb-4 font-italic border-bottom">Interesting Reading </h3>

    <%# Blog show content %>
    <div class="blog-container">
    <h2 class="blog-heading font-weight-bold font-size-large"><%= @blog.heading %></h2>
    <p><%= @blog.created_at.to_date.to_formatted_s :long_ordinal %> by <span class="text-primary"> <%= @author.first_name%> </span></p>

    <p id="blog-content"><%= @blog.content.html_safe %></p>

    <%# edit-blog-form %>
    <div style="display:none" id="edit-blog-form">
    <%= render partial: "updateform"%>
    </div>

    <%#  %>

    <%#  %>
    <div class="card mb-3">
    <p class='font-weight-normal m-2'><span class='text-primary' id='blog-like-count-<%= @blog.id %>'><%= @blog.get_likes.size.zero? ? "No one" : @blog.get_likes.size.to_s + " people"%></span> liked this blog</p>
    </div>
    <% if @blog.user_id != current_user.id %>
    <div style="display:flex;">
    <%= render(:partial => "likes/like", :locals => {:blog => @blog}) %>
    <% if current_user.User?  %>
    <button id="report-form-show" class="btn btn-danger mr-2">Report</button>
    <% end %>
    <button id="suggestion-form-show" class="btn btn-info mr-2">Suggest</button>
    <%#  %>
    </div>
    <%end%>


    <%= render(:partial => "reports/form", :locals => {:reportable => @blog}) %>
    </div>


    <div id="suggestion-container" style="display: none">
    <%= render(:partial => "suggestions/form") %>
    </div>


    <%# Create Suggestion Section will be here %>
    <% if @blog.user_id == current_user.id %>

    <h3 class="blog-heading font-weight-bold font-size-large">Suggestion: </h3>
    <div class="suggestion-container">
    <%if @suggestions.exists?%>
      <%= render partial:"suggestions/suggestion", locals: {title: "Pending"}, collection: @suggestions %>
      <%= paginate @suggestions%>
    <%else%>
    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
      <div class="card-body d-flex flex-column align-items-start border border-danger w-50">
        <strong class="d-inline-block mb-2 text-danger">Alert</strong>
        <h3 class="mb-0">
          <div class="text-dark">No Suggestions exist for this post</div>
        </h3>
      </div>
    </div>
    <%end%>
    </div>
    <%end%>

    <%# Create Comment Section will be here %>
    <h3 class="blog-heading font-weight-bold font-size-large">Comments: </h3>
    <div class="comment-container">
    <%if @blog.comments.exists?%>
    <%= render @comments %>
    <%= paginate @comments%>
    <%else%>
    <div class="card flex-md-row mb-4 shadow-sm h-md-250 no-comments-section">
      <div class="card-body d-flex flex-column align-items-start border border-danger w-50">
        <strong class="d-inline-block mb-2 text-danger">Alert</strong>
        <h3 class="mb-0">
          <div class="text-dark">No Comments to show</div>
        </h3>
      </div>
    </div>
    <%end%>
    </div>

    </div>
    <%# comment container ending %>
    </div>
    </div>
    <%= render "comments/form" %>
<%# Container End  %>
</div>









